<h1>Songs:</h1>

<p>Hello, <%= current_user.email %></p>
<br>
<p>Here are your songs:</p>
<ul>
  <% @songs.each do |song| %>
    <li><%= song.title %></li>
  <% end %>
</ul>

<%= turbo_frame_tag "new" do %>
  <%= link_to "New Song", new_song_path %>
<% end %>