<%= render "shared/navbar" %>

<div class="flex flex-col">
  <h1 class='text-xl'><%= link_to @song.title, @song.lyrics_url %> - <%= @song.artist %></h1>
  <%#= image_tag @song.image_url %>
  <br>
  <br>
  
  <div class="border"><%= simple_format(@lyrics.text, class: 'm-2 p-2') %></div>
</div>