<div class="box">
  <h1>My Favorite Places</h1>
  
  <ul>
    <% current_user.places.each do |place| %>
      <li><%= link_to place.name, place_path(place.id) %></li>
    <% end %>
  </ul>
</div>

<div class="box">
  <%= render "search", {result: @result, place: @place} %>
</div>

